<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG75T6_ozOpznZwmlg2h9ceKE6LCllMMA</string>
	<key>GCM_SENDER_ID</key>
	<string>3125746763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lingovaapp</string>
	<key>PROJECT_ID</key>
	<string>lingova-2c60c</string>
	<key>STORAGE_BUCKET</key>
	<string>lingova-2c60c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3125746763:ios:6cbe11ca9b6c62066441ce</string>
</dict>
</plist>